<a href="https://colab.research.google.com/github/carolinilaila/quarentena_dados/blob/master/QuarentenaDadosAula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import pandas as pd
avaliacoes = pd.read_csv("ratings.csv")
filmes = pd.read_csv("movies.csv")
filmes.columns = ["filmeId", "titulo", "genero"]
avaliacoes.columns = ["usuarioId", "filmeId", "nota","momento"]
notas_medias_por_filme = avaliacoes.groupby("filmeId")["nota"].mean()
filmes_com_media = filmes.join(notas_medias_por_filme, on="filmeId")
# Desafio 2
filmes_com_media.columns = ["filmeId", "titulo", "genero", "media"]
# Desafio 1
#filmes_com_media.sort_values("media",ascending=False)
#sem_nota = filmes_com_media[filmes_com_media.isna().any(axis=1)]
#sem_nota.head(None)
avaliacoes

,filmeId,titulo,genero,media
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
4,5,Father of the Bride Part II (1995),Comedy,3.071429

In [0]:
#@title Dicas { display-mode: "form" }
#avaliacoes.head()
#lendo documentação
#?avaliacoes
#número de linhas
#len(avaliacoes)
#matriz - linhas e colunas
#avaliacoes.shape
# redefinição do nome das colunas
#avaliacoes.head()
#visao geral do filmeId == 1
#avaliacoes.query("filmeId==1")
#avaliacoes.query("filmeId==1").describe()
#mediana do filmeId==1 da coluna nota
#avaliacoes.query("filmeId==1")["nota"].mean()
#visao geral das colunas (nota com máx e min)
#avaliacoes.describe()
#agrupando todos os filmes
#avaliacoes.groupby("filmeId")
#mediana das notas dos filmes de acordo com o Id
# Contagem de todos os filmes, incluindo media nula
#print(filmes_com_media.media.count())
# Contando valores nulos na tabela
#print(filmes_com_media.media.isna().sum())